/* Estilos Generales */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Estilos de la Barra de Navegación */
.navbar {
    background: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
}

.navbar .nav-links li {
    margin-left: 20px;
}

.navbar .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.navbar .nav-links a:hover {
    color: #ddd;
}

/* Estilos para Móviles */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    height: 3px;
    width: 25px;
    background: #fff;
    margin: 4px 0;
    transition: 0.4s;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }

    .nav-links {
        position: absolute;
        right: 0;
        height: 100vh;
        top: 60px;
        background: #333;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links.active {
        transform: translateX(0);
    }

    .nav-links li {
        margin: 0;
    }

    .nav-links a {
        font-size: 24px;
    }
}